/* Colors (for cards, tracks, cars, color patches, etc.) */

.BLACK   .filled { -fx-fill: "#494549"; }
.VIOLET  .filled { -fx-fill: "#9D72AF"; }
.BLUE    .filled { -fx-fill: "#5386A5"; }
.GREEN   .filled { -fx-fill: "#8AA526"; }
.YELLOW  .filled { -fx-fill: "#EAD453"; }
.ORANGE  .filled { -fx-fill: "#BC7A3F"; }
.RED     .filled { -fx-fill: "#A03B2A"; }
.WHITE   .filled { -fx-fill: "#FFFCEE"; }
.NEUTRAL .filled { -fx-fill: "#9B9B9B"; }

.PLAYER_1 .filled { -fx-fill: lightblue; }
.PLAYER_2 .filled { -fx-fill: lightpink; }
