/* Cards */

.card .outside {
    -fx-arc-width: 10;
    -fx-arc-height: 10;
    -fx-fill: white;
    -fx-stroke: dimgrey;
}

.card .inside {
    -fx-stroke: hsba(0, 0%, 0%, 0.3);
    -fx-stroke-type: inside;
}


#drawable-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.card.BLACK .train-image{
    -fx-fill: url("./restyled-deck/train_black.png");
}
.card.VIOLET .train-image {
    -fx-fill: url("./restyled-deck/train_purple.png");
}
.card.BLUE .train-image {
    -fx-fill: url("./restyled-deck/train_blue.png");
}
.card.GREEN .train-image {
    -fx-fill: url("./restyled-deck/train_green.png");
}
.card.YELLOW .train-image {
    -fx-fill: url("./restyled-deck/train_yellow.png");
}
.card.ORANGE .train-image{
    -fx-fill: url("./restyled-deck/train_brown.png");
}
.card.RED .train-image{
    -fx-fill: url("./restyled-deck/train_red.png");
}
.card.WHITE .train-image{
    -fx-fill: url("./restyled-deck/train_white.png");
}
.card.NEUTRAL .train-image {
    -fx-fill: url("./restyled-deck/train_joker.png");
}

.card .count {
    -fx-font-size: 24;
    -fx-fill: white;
    -fx-stroke: white;
    -fx-effect: dropshadow(gaussian, black, 5, 0, 1, 1);
}

/* Tickets and cards pane (right) */

#card-pane {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 5;
}

.ticket-deck {
   -fx-fill: url("./restyled-deck/train_back.png");
}

.cards-deck {
   -fx-fill: url("./restyled-deck/ticket_back.png");
}


.gauge {
    -fx-content-display: bottom;
}

.foreground {
    -fx-fill: black;
}

/* Hand pane (tickets and cards held) */

#tickets {
    -fx-pref-width: 400;
    -fx-pref-height: 0;
}

#hand-pane {
    -fx-alignment: center;
    -fx-padding: 5 50 5 50;
    -fx-spacing: 10;
}
