Button{
    -fx-text-fill: red;
}

#title{
    -fx-font-size: 50;
}

#cpu-options{
    -fx-translate-x: -100;
    -fx-translate-y: -165;
}

#server-button{
    -fx-translate-x: 0;
}
#client-button{
    -fx-translate-x: 100;
}
#local-button{
    -fx-translate-x: -100;
}
